
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

html{
    scroll-behavior:smooth;
}

body{
    background:#0f172a;
    color:white;
}

/* Navbar */

.navbar{
    width:100%;
    height:80px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:0 10%;

    position:fixed;
    top:0;

    background:rgba(15,23,42,.85);

    backdrop-filter:blur(10px);

    z-index:1000;
}

.logo{
    font-size:30px;
    color:#38bdf8;
    font-weight:bold;
}
/* Hamburger Button */

.menu-toggle {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

.nav-links{
    display:flex;
    list-style:none;
    gap:35px;
}

/*.nav-links a{
    color:white;
    text-decoration:none;
    transition:.3s;
}

.nav-links a:hover{
    color:#38bdf8;
}
    */
    .nav-links a{
    color: white;
    text-decoration: none;
    padding: 10px 18px;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.nav-links a:hover{
    background: #38bdf8;
    color: #0f172a;
}

/* Hero */

.hero{

    min-height:100vh;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:120px 10%;

}

.hero-left{
    width:50%;
}

.hero-left h3{
    color:#94a3b8;
    font-size:25px;
}

.hero-left h1{
    font-size:70px;
    color:#38bdf8;
    margin:10px 0;
}

.hero-left h2{
    font-size:35px;
    margin-bottom:20px;
}

.hero-left p{
    color:#cbd5e1;
    line-height:30px;
    max-width:600px;
}

.hero-buttons{
    margin-top:35px;
}

.btn{

    background:#38bdf8;
    color:white;

    border:none;

    padding:15px 35px;

    border-radius:8px;

    cursor:pointer;

    margin-right:15px;

    transition:.3s;
}

.btn:hover{

    transform:translateY(-5px);

    box-shadow:0 0 20px #38bdf8;
}

.btn-outline{

    background:transparent;

    border:2px solid #38bdf8;

    color:white;

    padding:15px 35px;

    border-radius:8px;

    cursor:pointer;

    transition:.3s;
}

.btn-outline:hover{

    background:#38bdf8;

}

/* Right */

.hero-right{

    width:40%;

    display:flex;

    justify-content:center;

}

.profile-circle{

    width:340px;

    height:340px;

    border-radius:50%;

    overflow:hidden;

    border:6px solid #38bdf8;

    box-shadow:0 0 40px #38bdf8;
}

.profile-circle img{

    width:100%;
    height:100%;
    object-fit:cover;
}
/* Section Title */

.section-title{

    text-align:center;

    font-size:45px;

    color:#38bdf8;

    margin-bottom:60px;

}

/* About */

.about{

    padding:100px 10%;

}

.about-container{

    display:flex;

    justify-content:space-between;

    gap:50px;

    align-items:center;

    flex-wrap:wrap;

}

.about-card{

    flex:1;

    background:#1e293b;

    padding:40px;

    border-radius:20px;

    transition:.4s;

}

.about-card:hover{

    transform:translateY(-10px);

    box-shadow:0 0 25px #38bdf8;

}

.about-card h3{

    color:#38bdf8;

    margin-bottom:20px;

    font-size:28px;

}

.about-card p{

    line-height:30px;

    color:#cbd5e1;

    margin-bottom:20px;

}

/* Stats */

.about-stats{

    flex:1;

    display:grid;

    grid-template-columns:repeat(2,1fr);

    gap:25px;

}

.stat-card{

    background:#1e293b;

    padding:35px;

    border-radius:18px;

    text-align:center;

    transition:.3s;

}

.stat-card:hover{

    transform:scale(1.05);

    box-shadow:0 0 20px #38bdf8;

}

.stat-card h1{

    color:#38bdf8;

    font-size:45px;

}

.stat-card p{

    margin-top:10px;

    color:#cbd5e1;

}

/* Skills */
.skills {
  padding: 100px 10%;
  background: #0f172a;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-top: 50px;
}

.skill-box {
  background: #1e293b;
  border-radius: 15px;
  padding: 30px;
  border: 2px solid transparent;
  transition: 0.4s ease;
}

.skill-box:hover {
  transform: translateY(-8px);
  border-color: #38bdf8;
  box-shadow: 0 0 20px rgba(56, 189, 248, 0.35);
}

.skill-box h3 {
  color: #38bdf8;
  margin-bottom: 20px;
  font-size: 28px;
}

.skill-box ul {
  list-style: none;
  padding: 0;
}

.skill-box ul li {
  color: #ffffff;
  font-size: 18px;
  padding: 12px 0;
  border-bottom: 1px solid rgba(255,255,255,0.08);
}

.skill-box ul li:last-child {
  border-bottom: none;
}

.skill-box ul li::before {
  content: "✔";
  color: #38bdf8;
  margin-right: 10px;
}


/* Projects */
.projects {
    padding: 100px 10%;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(2, 380px);
    justify-content: center;
    gap: 40px;
}

/* Square Card */
.project-card {
    width: 380px;
     height: 380px;
    background: #1e293b;
    border-radius: 20px;
    overflow: hidden;

    transition: 0.4s;
}

.project-card:hover {
    transform: translateY(-12px);
    box-shadow: 0 0 25px #38bdf8;
}

/* Content inside card */
.project-content {
    height: 100%;
    padding: 25px;

    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

/* Heading - SAME HEIGHT */
.project-content h3 {
    color: #38bdf8;
    font-size: 25px;
    margin: 0 0 15px 0;

    min-height: 60px;
}

/* Description - SAME HEIGHT */
.project-content p {
    color: #cbd5e1;
    line-height: 28px;

    min-height: 84px;

    margin: 0;
}

/* Buttons */
.project-buttons {
    margin-top: auto;

    display: flex;
    gap: 15px;
}

.project-btn,
.github-btn {
    background: #38bdf8;
    color: white;

    border: 2px solid #38bdf8;

    padding: 12px 25px;
    border-radius: 8px;

    cursor: pointer;

    transition: all 0.3s ease;
}

.project-btn:hover,
.github-btn:hover {
    background: #0ea5e9;
    color: white;

    transform: translateY(-5px) scale(1.05);

    box-shadow: 0 8px 20px rgba(56, 189, 248, 0.5);
}


/* Contact */

.contact {
  padding: 90px 10%;
  background: #0f172a;
}

.contact-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}
.contact-info{
    background:#1e293b;
    padding:40px;
    border-radius:20px;
    transition:0.4s ease;
    cursor:pointer;
}

.contact-info:hover{
    transform:translateY(-10px);
    box-shadow:0 0 25px #38bdf8;
}


.contact-info h3{

    color:#38bdf8;

    font-size:30px;

    margin-bottom:20px;
}

.contact-info p{

    margin:15px 0;

    line-height:28px;

    color:#cbd5e1;
}

.contact-form{
    display:flex;
    flex-direction:column;
    gap:20px;

    background:#1e293b;
    padding:40px;
    border-radius:20px;

    transition:0.4s ease;
    cursor:pointer;
}

.contact-form:hover{
    transform:translateY(-10px);
    box-shadow:0 0 25px #38bdf8;
}

.contact-form input,
.contact-form textarea{

    padding:16px;

    border:none;

    outline:none;

    border-radius:10px;

    background:#1e293b;

    color:white;

    font-size:16px;
}

.contact-form textarea{

    resize:none;
}

/* Footer */

.footer{

    background:#020617;

    text-align:center;

    padding:60px 20px;

    margin-top:80px;
}

.footer h2{

    color:#38bdf8;

    margin-bottom:15px;
}

.footer p{

    color:#94a3b8;
}

.social-links{

    margin:25px 0;
}

.social-links a{

    color:white;

    margin:0 15px;

    text-decoration:none;

    transition:.3s;
}

.social-links a:hover{

    color:#38bdf8;
}

.copyright{

    margin-top:30px;

    color:#64748b;
}


/* Internship */

.internship{
    padding:90px 10%;
    background:#0f172a;
}

.internship-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(350px,1fr));
    gap:30px;
    margin-top:50px;
}

.internship-card{
    background:#1e293b;
    padding:30px;
    border-radius:15px;
    transition:.3s;
    box-shadow:0 0 15px rgba(0,0,0,.3);
}

.internship-card:hover{
    transform:translateY(-8px);
    box-shadow:0 0 20px #38bdf8;
}

.internship-card h3{
    color:#38bdf8;
    font-size:28px;
    margin-bottom:8px;
}

.internship-card h4{
    color:#ffffff;
    margin-bottom:10px;
}

.duration{
    color:#94a3b8;
    margin-bottom:20px;
    font-style:italic;
}

.internship-card ul{
    padding-left:20px;
}

.internship-card li{
    color:#d1d5db;
    margin-bottom:12px;
    line-height:1.8;
}
/* =========================
   MOBILE RESPONSIVE
========================= */


@media (max-width: 768px) {
/* Hamburger Button */
.menu-toggle {
    display: block;
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);

    background: none;
    border: none;
    color: white;

    font-size: 30px;
    cursor: pointer;

    z-index: 1001;
}

/* Logo */
.logo {
    font-size: 24px;
    margin-left: 50px;
}

/* Mobile Menu */
.nav-links {
    display: none;

    position: absolute;
    top: 70px;
    left: 5%;

    flex-direction: column;
    gap: 5px;

    width: 190px;

    background: #1e293b;

    padding: 10px;

    border-radius: 12px;

    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.5);

    z-index: 1000;
}

/* Show Menu */
.nav-links.active {
    display: flex;
}

/* Menu Items */
.nav-links li {
    width: 100%;
    list-style: none;
}

/* Menu Links */
.nav-links a {
    display: block;

    width: 100%;

    padding: 12px 15px;

    border-radius: 8px;

    color: white;
    text-decoration: none;

    transition: all 0.3s ease;
}

/* Hover */
.nav-links a:hover,
.nav-links a.active {
    background: #38bdf8;
    color: #0f172a;
}

    /* Hero */
    .hero {
        min-height: auto;
        padding: 110px 6% 70px;

        flex-direction: column;
        text-align: center;

        gap: 50px;
    }

    .hero-left,
    .hero-right {
        width: 100%;
    }

    .hero-left h3 {
        font-size: 20px;
    }

    .hero-left h1 {
        font-size: 50px;
    }

    .hero-left h2 {
        font-size: 25px;
        line-height: 1.4;
    }

    .hero-left p {
        font-size: 16px;
        line-height: 26px;
        max-width: 100%;
    }

    .hero-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .btn,
    .btn-outline {
        width: 200px;
        margin-right: 0;
    }

    /* Profile image */
    .profile-circle {
        width: 260px;
        height: 260px;
    }


    /* Section title */
    .section-title {
        font-size: 35px;
        margin-bottom: 40px;
    }


    /* About */
    .about {
        padding: 70px 6%;
    }

    .about-container {
        flex-direction: column;
        gap: 30px;
    }

    .about-card {
        width: 100%;
        padding: 30px;
    }

    .about-card h3 {
        font-size: 25px;
    }

    .about-card p {
        font-size: 16px;
        line-height: 27px;
    }

    /* Stats */
    .about-stats {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }

    .stat-card {
        padding: 25px 15px;
    }

    .stat-card h1 {
        font-size: 35px;
    }


    /* Skills */
    .skills {
        padding: 70px 6%;
    }

    .skills-grid {
        grid-template-columns: 1fr;
        gap: 20px;
        margin-top: 30px;
    }

    .skill-box {
        padding: 25px;
    }

    .skill-box h3 {
        font-size: 24px;
    }


    /* Projects */
    .projects {
        padding: 70px 6%;
    }

    .projects-container {
        grid-template-columns: 1fr;
        gap: 25px;
    }

    .project-card {
        width: 100%;
        max-width: 380px;
        height: auto;
        min-height: 350px;
        margin: auto;
    }

    .project-content {
        min-height: 350px;
    }

    .project-content h3 {
        font-size: 23px;
    }

    .project-content p {
        font-size: 15px;
        line-height: 25px;
    }

    .project-buttons {
        flex-wrap: wrap;
    }


    /* Internship */
    .internship {
        padding: 70px 6%;
    }

    .internship-container {
        grid-template-columns: 1fr;
        gap: 25px;
        margin-top: 30px;
    }

    .internship-card {
        padding: 25px;
    }

    .internship-card h3 {
        font-size: 24px;
    }


    /* Contact */
    .contact {
        padding: 70px 6%;
    }

    .contact-container {
        grid-template-columns: 1fr;
        gap: 25px;
    }

    .contact-info,
    .contact-form {
        padding: 30px;
    }

    .contact-info h3 {
        font-size: 25px;
    }


    /* Footer */
    .footer {
        padding: 45px 20px;
        margin-top: 50px;
    }

    .social-links {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 15px;
    }

    .social-links a {
        margin: 0 5px;
    }
}


/* Smaller phones */
@media (max-width: 480px) {

    .navbar {
        padding: 0 5%;
    }

    .hero {
        padding-left: 5%;
        padding-right: 5%;
    }

    .hero-left h1 {
        font-size: 42px;
    }

    .hero-left h2 {
        font-size: 22px;
    }

    .profile-circle {
        width: 220px;
        height: 220px;
    }

    .section-title {
        font-size: 30px;
    }

    .about-stats {
        grid-template-columns: 1fr 1fr;
    }

    .stat-card {
        padding: 20px 10px;
    }

    .stat-card h1 {
        font-size: 30px;
    }

    .stat-card p {
        font-size: 14px;
    }

    .project-card {
        min-height: 330px;
    }

    .project-content {
        padding: 22px;
        min-height: 330px;
    }

    .project-buttons {
        flex-direction: column;
    }

    .project-btn,
    .github-btn {
        width: 100%;
    }

    .contact-info,
    .contact-form {
        padding: 25px;
    }
}